* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.button {
  padding: 10px 20px;
  background: #4592FF;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.button-icon {
  margin-right: 10px;
}
.button-icon:last-child {
  margin-right: 0;
  margin-left: 10px;
}
.button-price {
  margin-right: 10px;
}

.label {
  background: #3DC47E;
  border-radius: 3px;
  padding: 5px 12px;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
}

.text-light {
  color: #ffffff !important;
}

.header {
  padding: 15px 0;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-link {
  text-decoration: none;
  color: #939699;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.slide {
  padding-top: 90px;
  padding-bottom: 110px;
  min-height: 568px;
}
.slide-1 {
  background: #B4D1E0 url("../img/slider/slide-image-1.png") no-repeat top right 20%;
}
.slide-title {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  line-height: 70px;
  color: #262D33;
  margin-top: 20px;
  margin-bottom: 15px;
}
.slide-description {
  max-width: 335px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #4B5157;
}
.slider {
  position: relative;
}
.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
}
.slider-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card {
  min-height: 370px;
  border-radius: 10px;
  padding: 60px 46px 80px 46px;
}
.card-1 {
  background: #E3E2E3 url("../img/cards/card-image-1.jpg") no-repeat top right;
  background-size: cover;
}
.card-2 {
  background: #E3E2E3 url("../img/cards/card-image-2.jpg") no-repeat top right;
  background-size: cover;
}
.card-3 {
  padding-top: 35px;
  background: #CCD5E6 url("../img/cards/card-image-3.png") no-repeat top right 10%;
  background-size: contain;
}
.card-4 {
  padding-top: 35px;
  padding-left: 25px;
  background: #FF4F52 url("../img/cards/card-image-4.png") no-repeat top right;
  background-size: contain;
}
.card-title {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  max-width: 222px;
  margin: 0;
}
.card-title.large {
  max-width: 420px;
  font-size: 40px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  max-width: 176px;
  margin-bottom: 25px;
}
.card-text.large {
  max-width: 320px;
}
.card-price {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.section-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.more {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  padding: 10px;
}

.goods-card {
  position: relative;
  text-align: center;
  padding: 30px 36px 35px 36px;
}
.goods-card .label {
  position: absolute;
  left: 18px;
  top: 18px;
}
.goods-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}
.goods-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}
.goods-price {
  margin-top: 30px;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  color: #262D33;
}

.footer {
  background-color: #8F79D4;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 40px;
}
.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu-item:not(:last-child) {
  margin-right: 40px;
}
.footer-menu-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}
.footer-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #E7D9FF;
}
.footer-social-link {
  text-decoration: none;
  margin-left: 15px;
}
.footer-line {
  color: rgba(255, 255, 255, 0.5);
}

.top-link {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.top-link-text {
  margin-right: 15px;
}

.payment-logo {
  vertical-align: center;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .slide-1 {
    background-size: cover;
  }

  .card-3 {
    background-size: cover;
  }
}
@media (max-width: 992px) {
  .slider-nav {
    display: none;
  }
}
@media (max-width: 576px) {
  .slide-title {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 0;
  }

  .card {
    background-position: left top;
    min-height: 300px;
    padding: 30px;
  }
  .card-4 {
    background-position: right top;
  }
}
