.button
  padding: 10px 20px
  background: #4592FF
  border-radius: 20px
  border: none
  color: #ffffff
  font-style: normal
  font-weight: 900
  font-size: 14px
  line-height: 20px
  display: flex
  align-items: center
  cursor: pointer
  &-icon
    margin-right: 10px
    &:last-child
      margin-right: 0
      margin-left: 10px
  &-price
    margin-right: 10px
.label
  background: #3DC47E
  border-radius: 3px
  padding: 5px 12px
  color: #ffffff
  font-size: 12px
  line-height: 15px
.text
  &-light
    color: #ffffff !important
